<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword_fight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,58}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{26,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sword_fight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{50,46}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{50,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sword_fight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{50,40}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{50,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sword_walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,38},{34,46}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sword_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,74},{38,40}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{38,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sword_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{34,48}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,11},{34,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sword_testing.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d70823a965f77c036fde883ba5fe959$</string>
            <key>textureFileName</key>
            <string>sword_testing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
