<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>archer_tower.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{32,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,39}}</string>
			<key>sourceSize</key>
			<string>{32,39}</string>
		</dict>
		<key>archer_tower_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,2},{32,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,39}}</string>
			<key>sourceSize</key>
			<string>{32,39}</string>
		</dict>
		<key>barrack_tower.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,2},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,2},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>test_map.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,43},{480,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,320}}</string>
			<key>sourceSize</key>
			<string>{480,320}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>test4.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:97dd06399397e587ea54ad7ca0dae1fc$</string>
		<key>textureFileName</key>
		<string>test4.png</string>
	</dict>
</dict>
</plist>
